# Ignore node_modules in both client and server
client/node_modules/
server/node_modules/

# Ignore build and log files from the client and server
client/build/
server/dist/

# Ignore environment variable files (.env) for both client and server
client/.env
server/.env

# Ignore any log files
*.log

# Operating system files (macOS, Windows, etc.)
.DS_Store
Thumbs.db

# Ignore editor-specific files (e.g., VSCode, JetBrains)
.vscode/
.idea/

# Ignore any IDE or editor-specific files
*.swp
